body, div, p, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, span, input, img {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	font-size: 14px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
.clearfix:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
.w {
	width: 980px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}